.table-container .resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    background-color: #7FB77E;
}

.table-container table {
    width: 100%;
    padding: 5px;
    border-spacing: 0;
    font-family: Roboto, serif;
}

.table-container thead {
    background-color: #7FB77E;
    height: 40px;
    color: white;
}

.table-container th {
    padding: 2px 4px;
    text-align: left;
}

.table-container td {
    padding-top: 10px;
}

.table-container td {
    border-bottom: 1px solid lightgray;
    height: 40px;
}

.table-container tbody tr:last-child td {
    border-bottom: unset;
}

.table-container tbody tr:hover {
    background-color: #FBF8F1;
}

.table-container {
    margin: 20px;
    border: 1px solid #16213E;
    border-radius: 10px;
    box-shadow: 0px 0 10px #16213E;
}

.table-container .flex-direction-row {
    display: flex;
    flex-direction: row;
}

.table-container .filters-container {
    padding: 5px;
}

.table-container .table-title {
    flex-grow: 2;
    font-weight: 500;
    font-size: 1.5rem;
}

.table-container .pagination-container {
    display: grid;
    grid-template-columns: 50% 25px 1fr 25px;
    align-content: center;
}

.table-container .pagination-button {
    color: #393E46;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 0 2px 0 2px;
}

.table-container .pagination-button:hover {
    background-color: #222831;
    color: white;
}

.table-container input, select {
    border-radius: 5px;
}

.table-container #page-index-input {
    width: 80%;
}

.table-container select {
    width: 70%;
}

.table-container .select-container {
    display: flex;
    justify-content: center;
}

.table-container .search-filter {
    display: flex;
    align-items: center;
}

.table-container .sorting-arrow {
    width: 8px;
    height: 8px;
    background-color: transparent;
    border-right: 2px white solid;
    border-top: 2px white solid;
    transition: transform 0.3s ease;
}

.table-container .sorting-arrow.sorting-arrow-up {
    transform: rotate(-45deg);
}

.table-container .sorting-arrow.sorting-arrow-down {
    transform: rotate(135deg);
    left: 4px;
}

.table-container .sorting-arrow-display-none {
    display: none;
}

.table-container .sorting-arrow-container {
    display: flex;
    align-items: center;
    padding-left: 8px;
}