.resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    background-color: #7FB77E;
}

table {
    width: 100%;
    padding: 5px;
    border-spacing: 0;
    font-family: Roboto, serif;
}

thead {
    background-color: #7FB77E;
    height: 40px;
    color: white;
}

th {
    padding: 2px 4px;
    text-align: left;
}

td {
    padding-top: 10px;
}

td {
    border-bottom: 1px solid lightgray;
    height: 40px;
}

tbody tr:last-child td {
    border-bottom: unset;
}

tbody tr:hover {
    background-color: #FBF8F1;
}

.table-container {
    margin: 20px;
    border: 1px solid #16213E;
    border-radius: 10px;
    box-shadow: 0px 0 10px #16213E;
}

.flex-direction-row {
    display: flex;
    flex-direction: row;
}

.filters-container {
    padding: 5px;
}

.table-title {
    flex-grow: 2;
    font-weight: 500;
    font-size: 1.5rem;
}

.pagination-container {
    gap: 10px;
}

.pagination-button {
    color: #393E46;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 0 2px 0 2px;
}

.pagination-button:hover {
    background-color: #222831;
    color: white;
}

input, select {
    border-radius: 5px;
}